body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }

  .container-fluid {
    max-width: 100%;
  }
  
  header {
    flex: 0 80px;
  }
  
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  footer {
    flex: 0 30px;
  }
  
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }
  
  .navbar-brand {
    padding-left: .3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  footer a {
    float: right;
  }


  .img-thumbnail{
    max-width: 100%;
    max-height: 175px;
    object-fit: cover;
    height: auto;
  }

  .top-right-container {
    position: fixed;
    top: 250px;
    right: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }

/* Add this media query at the end of your existing CSS */
@media (max-width: 600px) {
  .meal-table {
    width: 100%;
    margin-bottom: 20px;
  }

  .meal-table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .meal-table img {
    max-width: 100%;
    height: auto;
  }

  .meal-title {
    font-size: 1.5em;
    font-weight: bold;}

  #table-container {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;}
}


  