  .user-name{
    margin: 20px;
  }
  

  #table-container {
    width: 100%;
    margin: 1em;
    justify-content: top;
  }

  .meal-table{
    padding: 20px;
    justify-content: top;
  }

  .body-container{
    width: 100%;
    margin: 2em;
    justify-content: center;
  }

  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }

@media (max-width: 600px) {
  .meal-table {
    width: 100%;
    margin-bottom: 20px;
  }

  .meal-table th, .meal-table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .meal-table thead, .meal-table tbody, .meal-table th, .meal-table td, .meal-table tr {
    display: block;
  }

  .meal-table td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .table td:nth-of-type(1):before { content: 'Meal Title(Database Data)'; }
  .table td:nth-of-type(2):before { content: 'Ingredients'; }
  .table td:nth-of-type(3):before { content: 'Per Serving'; }
  .table td:nth-of-type(4):before { content: 'Instructions'; }
  .table td:nth-of-type(5):before { content: 'Reviews'; }
  .table td:nth-of-type(6):before { content: 'Votes'; }
  .table td:nth-of-type(7):before { content: 'UpVote'; }

  .meal-table img {
    max-width: 100%;
    height: auto;
  }

  #table-container {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;}
}


  